body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.Home, #pic {
    background-image: url("../images/flatiron_building.jpg");
    color: white;
    background-size: cover;
    background-position: 50%, 25%;
}

.Choices {
    display: block;
    line-height: 30px;
}

.footer {
    text-align: left;
    background-color: gray;
    font-size: 11px;
    color: white
}

.Choices a {
    color: white;
    font-size: 18px;
}

#list a {
    color: white;
}